:root {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Inter, system-ui, Avenir,
		Helvetica, Arial, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
